<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Restaurant-List</title>
  <!--Boostrap-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
  <!--font-awesome-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.min.css">
  <!--CSS-->
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <header>
    <!--navbar-->
    <nav class="navbar navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="/">
          <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png" width="30"
            height="30" class="d-inline-block align-top" alt="我的餐廳清單">
          {{#if isAuthenticated}} {{ user.name}}{{/if}}
          的餐廳清單
        </a>
        <div class="text-right">
          {{#if isAuthenticated}}
            <a href="/restaurants/new"><button class="btn btn-primary mx-3">新增餐廳</button></a>
            <a href="/users/logout" class="btn btn-primary">Logout</a>
          {{else}}
            <a href="/users/login" class="btn btn-primary">Login</a>
          {{/if}}
        </div>
      </div>
    </nav>
    
    <div class="banner"></div>
  </header>

  {{{ body }}}

  


  <!--js-->
  <script src="/javascripts/popper.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
</body>
</html>