<h1 class="mb-1 restaurant-show-title">布娜飛比利時啤酒餐廳</h1>
<div class="container">
  <div class="row">
    <div class="col-12 col-md-10 mx-auto">

      <p class="mb-1">
        <span class="text-secondary">
          <i class="fas fa-utensils pr-2"></i>
          類別：
        </span>
        義式餐廳
      </p>

      <p class="mb-1">
        <span class="text-secondary">
          <i class="fas fa-map-marker-alt pr-2"></i>
          地址：
        </span>
        台北市松山區市民大道四段 185 號
        <a href="https://goo.gl/maps/V9mKwVJ4s5v" class="text-secondary" target="_blank">
          <i class="fas fa-location-arrow pr-2 fa-xs"></i>
        </a>
      </p>

      <p class="mb-1">
        <span class="text-secondary">
          <i class="fas fa-mobile-alt pr-2"></i>
          電話：
        </span>
        02 2570 1255
      </p>

      <p class="mb-5">
        我們希望帶給您的，不只是啤酒，有美食，還有一份對生活的熱情。 義大利語「Bravo」的原意─「喝采」、「讚揚」， 我想著如果有一個大家都能輕鬆品嚐美酒、享受美食的地方，那就真的是太棒了！
        因為這個念頭，加上一股對比利時啤酒的熱情， 於是「Bravo Beer布娜飛比利時啤酒餐廳」在2006年誕生了...
      </p>

      <img class="rounded mx-auto d-block mb-4 w-100"
        src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5634/08.jpg" alt="布娜飛比利時啤酒餐廳"
        style="max-width: 600px;">
    </div>
  </div>
</div>